html {
  box-sizing: border-box;
}
/* 
*,
*::before,
*::after {
    box-sizing: inherit;
} */

p {
  text-align: center;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -100px;
}

.container {
  /* margin: 0px auto; */
  margin-left: -200px;
  width: 100rem;
  height: 50rem;
  display: grid;
  grid-template-columns: 50rem 50rem;
  grid-row: auto auto;
}
/* .plotly-graph-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 0;
    
} */
.plotly-graph-div {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* style=" flex: row; flex-direction: row; align-items: center; width: 50rem;" */
